/*////////////// Fonts //////////////*/

@font-face {
  font-family: 'Baskerville';
  src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
  font-family: 'Baskerville', serif;
  font-size: 5em;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin: 0 0 5px;
}

h2 {
  color: rgb(109,127,122);
  font-size: 2em;
}

p {
  color: rgb(85,85,85);
  font-size: 1em;
  margin: 0 0 20px 0;
}

.small {
  font-size: 0.8em;
}

/*////////// Section Styles //////////*/

header a:link {
  transition: color 0.5s ease;
  color: rgb(150,173,166);
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  color: rgb(111,127,122);
}

#featured img {
  border: 5px solid rgb(150,173,166);
}

#featured a {
  text-decoration: none;
  color: rgb(23,131,191);
}

#featured a:hover {
  text-decoration: underline;
}

#press {
  margin-bottom: 20px;
}

#press img {
  transition: border 0.5s ease;
  border: 5px solid rgb(204,204,204);
  padding: 1px;
}

#press img:hover {
  border: 5px solid rgb(111,127,122);
}

footer {
  text-align: right;
}